@import 'src/colors.scss';

.button {
  background-color: $red;
  border: 0;
  color: white;
  cursor: pointer;
  min-height: 40px;
  min-width: 86px;

  &.rounded {
    border-radius: 1000px;
  }

  &:hover {
    background-color: lighten($red, 0.4);
  }
}